# Python
__pycache__/
*.py[cod]
*.egg-info/
.pytest_cache/
.mypy_cache/
.ruff_cache/

# Временные/рабочие данные (создаются в рантайме)
AgroCast/data/
data/
*.tmp/

# Виртуальные окружения
.venv/
venv/

# IDE
.idea/
.vscode/
